# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# 本地依赖/构建相关，不上传
libs/
.oss-basemod-repo/
TEMPLATE_LICENSE.txt
*.jar